<div class="col-md-12">
    <h2 class="mb-3 mt-5 clr-1 bg-1 p-1">Damage When Attacked</h2>
    <div class="row mb-3">
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="{{productDetail['sprites']['back_default']}}" />
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="{{productDetail['sprites']['back_shiny']}}" />
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="{{productDetail['sprites']['front_default']}}" />
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="{{productDetail['sprites']['front_shiny']}}" />
        </div>
    </div>
</div>